.login-form {
    width: 20.3rem;
    display: flex;
    flex-direction: column;
}
.form-button {
    border-radius: 0.1rem;
    background-color: $red;
    border: none;
    color: $white;
    height: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.9rem;
    font-weight: 600;
}
.form-label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.form-input {
    border-radius: 0.1rem;
    padding-left: 0.8rem;
    height: 2rem;
    margin-bottom: 0.8rem;
    border: 1px solid $grey-light;
    @include placeholder {
        color: $grey-light;
    }
}
.form-link {
    align-self: center;
    color: $deepOrange;
    text-decoration: none;
}
