@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
@mixin breakpoints($size) {
    @if $size == XS {
        @media (max-width: $XS) {
            @content;
        }
    } @else if $size == SM {
        @media (min-width: $SM) {
            @content;
        }
    } @else if $size == MD {
        @media (min-width: $MD) {
            @content;
        }
    } @else if $size == XL {
        @media (min-width: $XL) {
            @content;
        }
    }
}
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
