$red: #f44336;
$deepOrange: #ff5722;
$grey-light: #e0e0e0;
$grey-dark: #616161;
$orange: #ff5722;
$white: #ffff;
$green-light: #eeeeee;
$grey: #bdbdbd;
$black: #000000;
$font-size-desktop: 16px;
$font-size-mobile: 12px;
$XS: 767px;
$SM: 768px;
$MD: 992px;
$XL: 1280px;
