body {
    font-family: "NotoSans", "Helvetica Neue", "Roboto", "Segoe UI", "Arial";
    font-size: $font-size-desktop;
    background-color: $green-light;
    margin: 0;
    color: $grey-dark;
}
h3 {
    margin: 0;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
}
button {
    cursor: pointer;
}
